@import "tailwindcss";
/* *{
    background-color: black;
    color: white;
} */

.light {
  background-color: white;
  color: black;
  transition: all 0.3s ease;
}

.dark {
  background-color: #121212;
  color: white;
  transition: all 0.3s ease;
}